<!--DataTable With Editing Feature Starts-->
<section id="editing-DataTable" class="mb-3">
    <div class="row text-left valign-middle">
        <div class="col-sm-6">
            <div class="content-header">Aviso</div>
            <p class="content-sub-header">Permite editar el aviso</p>
        </div>
    </div>
     <div *ngIf="loaded">
        <form #avisosForm="ngForm" (ngSubmit)="onSubmit(avisosForm.value)" class ="form-group">
            <div  class="form-group">{{id}} </div> 

            <div  class="form-group">
                <label for="cuerpoInput"> Modificar Título </label> 
                <input type="text"
                    id="nombreInput"
                    name="nombreInput" [(ngModel)]='data.nombre'>
            </div> 
            <div  class="form-group">{{data.nombre}}</div>

            <div  class="form-group">
                <label for="cuerpoInput"> Modificar Cuerpo </label> 
                <input type="text"
                    id="cuerpoInput"
                    name="cuerpoInput" [(ngModel)]='data.cuerpo'>
            </div> 
            <div  class="form-group">{{data.cuerpo}}</div>
            <button type="ngSubmit" class="btn btn-primary">Enviar</button>
        </form>
        {{avisosForm.value | json}}
    </div> <!--loaded-->
</section>



