<!--DataTable With Editing Feature Starts-->

<!-- section id="editing-DataTable" class="mb-3"-->
<div class="container">
    <div class="row text-left valign-middle">
        <div class="col-sm-6">
            <div class="content-header">Aviso</div>
            <p class="content-sub-header">Permite editar el aviso</p>
        </div>
    </div >
     <div *ngIf="loaded">
        <div [hidden]="submitted">
        <form #avisosForm="ngForm" (ngSubmit)="onSubmit(avisosForm.value)" class ="form">
            <div  class="form-group">id: {{id}} </div> 

            <div  class="form-group">
                <label for="cuerpoInput"> Modificar Título </label> 
                <input type="text" class="form-control"
                    id="nombreInput" required
                    name="nombreInput" [(ngModel)]='data.nombre' #nombreInput="ngModel">
                <div [hidden]="nombreInput.valid || nombreInput.pristine"
                            class="alert alert-danger">
                    Campo Requerido
                </div>
            </div> 
            <div  class="form-group">
                <label for="cuerpoInput"> Modificar Cuerpo </label> 
                <input type="text" class="form-control"
                    id="cuerpoInput" required
                    name="cuerpoInput" [(ngModel)]='data.cuerpo' #cuerpoInput="ngModel">
                <div [hidden]="cuerpoInput.valid || cuerpoInput.pristine"
                class="alert alert-danger">
                    Campo Requerido
                </div>
            </div> 
            <div  class="form-group">
                <label for="fechaAlta"> Fecha de Alta </label> 
                <input type="date" class="form-control"
                    id="fechaAlta"
                    name="fechaAlta" [(ngModel)]='data.fechaAlta'>
            </div> 
            <div  class="form-group">
                <label for="fechaBaja"> Fecha de Vencimiento </label> 
                <input type="date" class="form-control"
                    id="fechaBaja"
                    name="fechaBaja" [(ngModel)]='data.fechaBaja'>
            </div> 
            <button type="ngSubmit"  class="btn btn-primary">Enviar</button>
        </form>
        {{avisosForm.value | json}}
        </div><!--submitted-->

<div [hidden]="!submitted">
  <h2>Información enviada:</h2>
  <div class="row">
    <div class="col-xs-3">Titulo</div>
    <div class="col-xs-9">{{ data.nombre }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Cuerpo</div>
    <div class="col-xs-9">{{ data.cuerpo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Fecha de vencimiento</div>
    <div class="col-xs-9">{{ data.fechaBaja }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>

</div> <!--loaded-->


<!--/section-->
</div> <!-- container -->



