<!--DataTable With Editing Feature Starts-->

<!-- section id="editing-DataTable" class="mb-3"-->
<div class="container">
    <div class="row text-left valign-middle">
        <div class="col-sm-6">
            <div class="content-header">Aviso</div>
            <p class="content-sub-header">Dar de alta un aviso</p>
        </div>
    </div >
     <div *ngIf="loaded">

        <div [hidden]="submitted">
        <form #altaAvisosForm="ngForm" (ngSubmit)="onSubmit(altaAvisosForm.value)" class ="form">
            <div  class="form-group">
                <label for="cuerpoInput"> Título </label> 
                <input type="text" class="form-control"
                    id="nombreInput" required
                    name="nombreInput" [(ngModel)]='data.nombre' #nombreInput="ngModel">
                <div [hidden]="nombreInput.valid || nombreInput.pristine"
                            class="alert alert-danger">
                    Campo Requerido
                </div>
            </div> 
            <div  class="form-group">
                <label for="cuerpoInput"> Cuerpo </label> 
                <input type="text" class="form-control"
                    id="cuerpoInput" required
                    name="cuerpoInput" [(ngModel)]='data.cuerpo' #spy #cuerpoInput="ngModel">
                <div [hidden]="cuerpoInput.valid || cuerpoInput.pristine"
                class="alert alert-danger">
                    Campo Requerido
                </div>
            </div> 

            <div  class="form-group">
                <label for="fechaAlta"> Fecha de Alta </label> 
                <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-aaaa" 
                        name="fechaAlta" [(ngModel)]="data.fechaAlta" ngbDatepicker
                        dateFormat="dd-MM-yyyy"
                        #d1="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                            <i class="fa fa-calendar-o" style="color: blue"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div  class="form-group">
                <label for="fechaBaja"> Fecha de Vencimiento </label> 
                <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-aaaa" 
                        name="fechaBaja" [(ngModel)]="data.fechaBaja" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                            <i class="fa fa-calendar-o" style="color: blue"></i>
                        </button>
                    </div>
                </div>
            </div>

            <button type="ngSubmit" [disabled]="altaAvisosForm.invalid" class="btn btn-primary">Enviar</button>
        </form>
        {{altaAvisosForm.value | json}}
        </div><!--submitted-->

<div [hidden]="!submitted">
  <h2>Información enviada:</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-3">Titulo</div>
    <div class="col-sm-9">{{ data.nombre }}</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Cuerpo</div>
    <div class="col-sm-9">{{ data.cuerpo }}</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Fecha de vencimiento</div>
    <div class="col-sm-9">{{ data.fechaBaja | json }}</div>
  </div>
</div> <!-- container -->
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>



</div> <!--loaded-->

<!--/section-->
</div> <!-- container -->



